body {
    margin: 0;
}

header {
    height: 100px;
    background-color: #30332E;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
    color: #F8D53A;
    /* margin-right: 2em; */
    padding: 30px;
    font-family: Dosis;
    font-weight: 400;
    margin-right: 20px;
    font-size: 20px;
    text-decoration: none;
}

h1 {
    font-family: Montserrat;
    color: #FE5F55;
    letter-spacing: 5px;
    margin: 0;
    padding: 0 50px 0 50px;
}

h2 {
    font-family: Montserrat;
    color: #A6C9C9;
    letter-spacing: 5px;
    margin: 0 50px 0 50px;
}

#title {
    display: flex;
    justify-content: flex-end;
}

p {
    margin: 30px 50px 30px 50px;
    font-family: Montserrat;
    color: #30332E;
    padding: 0;
    text-align: justify;
}

h1:hover {
    text-decoration: underline;
}

#mainBody {
    margin-top: 30px;
}

a:hover {
    background-color: #A6C9C9;
    color: #30332E;
    transition: .5s;
}

#kIcon {
    height: 75px;
    padding-left: 50px;
}