body {
    margin: 0;
    background-color: #FFFBF9;
}

#content {
    display: flex;
    flex-direction: row;
}

#mainBody {
    display: flex;
    flex-direction: column;
    margin: 3em 1em;
    flex-basis: 85%;
}

#title {
    border-left: 1px dashed #FE5F55;
    background-color: #FFFBF9;
    padding: .5em;
    margin-bottom: .5em;
}

.homeContent {
    margin: .5em 0;
    background-color: #FFFBF9;
    border-left: 1px dashed #FE5F55;
    padding: .5em;
}

header {
    flex-basis: 15%;
    height: 100vh;
    background-color: #30332E;
    align-items: center;
    justify-content: space-between;
} 

nav {
    display: flex;
    flex-direction: column;
    padding: 1em;
}

nav a {
    color: #F8D53A;
    padding: 5px;
    margin: .25em 0;
    font-family: Dosis;
    font-weight: 400;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid transparent;
} 

nav a:hover {
    color: #A6C9C9;
    transition: .5s;
    
}

h1 {
    font-family: Montserrat;
    font-size: 3em;
    color: #FE5F55;
    letter-spacing: 5px;
    margin: 0;
}

h1:hover {
    color: #A6C9C9;
    transition: .5s;
}

h2 {
    font-family: Montserrat;
    color: #30332E;
    letter-spacing: 5px;
    margin: 0;
}

p {
    margin: 0;
    font-family: Montserrat;
    color: #30332E;
    padding: 0;
    text-align: justify;
}



#technologies {
    margin-left: 50px;
}

#kIcon {
    height: 100px;
    padding: 1em;
}

i {
    margin-top: 10px;
    padding: 0 .5rem;
    font-size: 50px;
    color: #FE5F55;
}

i:hover {
    color: #A6C9C9;
    transition: .5s;
}